<a href="https://colab.research.google.com/github/Tensapsn/OOP/blob/master/ngoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
price = 25000
uang = 10000

if price == uang:
  print("uang pas")
elif uang < price:
  print("uang lebih")
else:
  print("uang tidak cukup")

In [ ]:
nilai = 100

if nilai > 90:
  print("A")
elif nilai > 80:
  print("B")
elif nilai > 70:
  print("C")
else:
  print("D")

In [ ]:
price = 25000
uang = 30000
kondisi = "baik"

if uang >= price:
  print("uang pas")
  if kondisi == "baik":
    print("uang laku")
  else:
    print("uang tidak laku")
else:
  print("uang tidak cukup")

In [ ]:

total_money = 20
item_price = 9

if total_money < item_price:
    print("Uang tidak cukup")
else:
    change = total_money - item_price
    print(f"Kembalianmu adalah {change}")

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
i = 1

while i <= 10:
  print(i)
  i+=1

In [ ]:
total = 0
for i in range(1,6):
  total = total + i

print(total)

In [ ]:
b = 0
i = 0
while i <= 1000:
    hasil = i + b
    print(hasil)
    i+=1
    b+=1

In [ ]:
def perkalian(angka1, angka2):
    return angka1+angka2

hasil = perkalian(10,2)
print(hasil)

12

In [ ]:
def test(x):
    result = (x**2) + (x**3) + (x+2) - (x/2)
    return result
x = 7
result = test(x)
print(result)

397.5